[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Brandon M. Keltz
	email = keltzbm@icloud.com
[core]
	excludesfile = ~/.gitignore_global
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[init]
	defaultBranch = main

[includeIf "gitdir:~/GitLab/"]
    path = ~/.gitconfig-gitlab
[url "git@github.com:"]
	insteadOf = https://github.com/
